body {
  margin: 0 auto;
  width: 80%;
  background-color: rgb(221, 221, 221);
  font-family: 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
p,
div,
a,
ul,
li {
  margin: 0;
  padding: 0;
}

input {
  border: none;
}

#main {
  width: 80%;
  margin: 100px auto;
  background-color: #fff;
  text-align: left;
  border: 2px solid rgb(235, 235, 235);
  -webkit-box-shadow: 6px 6px 21px 5px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 6px 6px 21px 5px rgba(50, 50, 50, 0.75);
  box-shadow: 6px 6px 21px 5px rgba(50, 50, 50, 0.75);
}

li {
  list-style-type: none;
  border-bottom: 2px solid rgb(236, 236, 236);
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.row-input {
  width: 85%;
  border: none;
  font-weight: 600;
  font-style: normal;
}

#header-ele {
  display: flex;
  padding: 0 20px;
  align-items: center;
  background-color: rgb(236, 236, 236);
  height: 60px;
  font-weight: 700;
}

#add-new {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 2px solid rgb(236, 236, 236);
}

#add {
  width: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
}

.svg-inline--fa {
  margin-left: auto;
  margin-right: 15px;
}

#add-new input {
  height: 60px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

::placeholder {
  font-size: 0.9rem;
  font-style: italic;
}

#add-new input[type="text"] {
  border: none;
  padding: 0 20px;
}

#tasks-ed {
  border: none;
}

.trash {
  background-image: url('img/trash.png');
  background-size: cover;
  height: 20px;
  width: 20px;
}

.dot {
  background-image: url('img/more.png');
  background-size: cover;
  height: 20px;
  width: 20px;
}

#clear {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(236, 236, 236);
}
